<div class="divide-y">
  <div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
    <div>
      <h2 class="text-base font-semibold leading-7 text-neutral-800">Personal Information</h2>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: "md:col-span-2") do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6">
        <div class="col-span-full flex items-center gap-x-8">
          <%= image_tag avatar_path(f.object), class: "h-24 w-24 flex-none rounded-lg bg-gray-800 object-cover" %>
          <div>
            <%= f.file_field :avatar, accept:'image/*', class: 'rounded-md bg-primary/10 px-3 py-2 text-sm font-semibold text-neutral-800 shadow-sm hover:bg-primary/20' do %>
              Change Avatar
            <% end %>
            <p class="mt-2 text-xs leading-5 text-gray-400">JPG, GIF or PNG. 1MB max.</p>
          </div>
        </div>

        <div class="col-span-full">
          <%= f.label :name, class: "block text-sm font-medium leading-6 text-neutral-800" %>
          <div class="mt-2">
            <%= f.text_field :name, autofocus: false, class: 'block w-full rounded-md border-0 bg-primary/5 py-1.5 text-neutral-800 shadow-sm ring-1 ring-inset ring-primary/10 focus:ring-2 focus:ring-inset focus:ring-primary-500 sm:text-sm sm:leading-6', placeholder: "Full name" %>
          </div>
        </div>

        <div class="col-span-full">
          <%= f.label :email, class: "block text-sm font-medium leading-6 text-neutral-800" %>
          <div class="mt-2">
            <%= f.email_field :email, class: 'block w-full rounded-md border-0 bg-primary/5 py-1.5 text-neutral-800 shadow-sm ring-1 ring-inset ring-primary/10 focus:ring-2 focus:ring-inset focus:ring-primary-500 sm:text-sm sm:leading-6', placeholder: 'Email Address' %>
          </div>
        </div>

        <div class="col-span-full">
          <label for="current-password" class="block text-sm font-medium leading-6 text-neutral-800">Current password</label>
          <div class="mt-2">
            <%= f.password_field :current_password, autocomplete: "off", placeholder: 'Current Password', class: "block w-full rounded-md border-0 bg-primary/5 py-1.5 text-neutral-800 shadow-sm ring-1 ring-inset ring-primary/10 focus:ring-2 focus:ring-inset focus:ring-primary-500 sm:text-sm sm:leading-6"  %>
          </div>
          <p class="mt-1 text-xs leading-6 text-gray-400">We need your current password to confirm your changes</p>
        </div>

        <div class="flex">
          <%= f.submit "Save", class: 'rounded-md bg-primary-500 px-3 py-2 text-sm font-semibold text-neutral-50 shadow-sm hover:bg-primary-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-500' %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
    <div>
      <h2 class="text-base font-semibold leading-7 text-neutral-800">Change password</h2>
      <p class="mt-1 text-sm leading-6 text-gray-400">Update your password associated with your account.</p>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: 'md:col-span-2') do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6">
        <div class="col-span-full">
          <label for="password" class="block text-sm font-medium leading-6 text-neutral-800">New password</label>
          <div class="mt-2">
            <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: "block w-full rounded-md border-0 bg-primary/5 py-1.5 text-neutral-800 shadow-sm ring-1 ring-inset ring-primary/10 focus:ring-2 focus:ring-inset focus:ring-primary-500 sm:text-sm sm:leading-6"  %>
          </div>
          <p class="mt-1 text-xs leading-6 text-gray-400">Leave password blank if you don't want to change it</p>
        </div>

        <div class="col-span-full">
          <label for="password-confirmation" class="block text-sm font-medium leading-6 text-neutral-800">Confirm password</label>
          <div class="mt-2">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password', class: "block w-full rounded-md border-0 bg-primary/5 py-1.5 text-neutral-800 shadow-sm ring-1 ring-inset ring-primary/10 focus:ring-2 focus:ring-inset focus:ring-primary-500 sm:text-sm sm:leading-6" %>
          </div>
        </div>

        <div class="col-span-full">
          <label for="current-password" class="block text-sm font-medium leading-6 text-neutral-800">Current password</label>
          <div class="mt-2">
            <%= f.password_field :current_password, autocomplete: "off", placeholder: 'Current Password', class: "block w-full rounded-md border-0 bg-primary/5 py-1.5 text-neutral-800 shadow-sm ring-1 ring-inset ring-primary/10 focus:ring-2 focus:ring-inset focus:ring-primary-500 sm:text-sm sm:leading-6"  %>
          </div>
          <p class="mt-1 text-xs leading-6 text-gray-400">We need your current password to confirm your changes</p>
        </div>
      </div>

      <div class="flex">
        <%= f.submit "Save", class: 'rounded-md bg-primary-500 px-3 py-2 text-sm font-semibold text-neutral-50 shadow-sm hover:bg-primary-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-500' %>
      </div>
    <% end %>
  </div>

  <div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
    <div>
      <h2 class="text-base font-semibold leading-7 text-neutral-800">Delete account</h2>
      <p class="mt-1 text-sm leading-6 text-gray-400">No longer want to use our service? You can delete your account here. This action is not reversible. All information related to this account will be deleted permanently.</p>
    </div>

    <form class="flex items-start md:col-span-2 text-danger-600">
      <%= link_to "Deactivate my account", registration_path(resource_name), data: { confirm: "Are you sure? You cannot undo this." }, method: :delete %>
    </form>
  </div>
</div>