<div
  class="drawer-side z-40"
  style="scroll-behavior: smooth; scroll-padding-top: 5rem"
>
  <label for="drawer" class="drawer-overlay" aria-label="Close menu"></label>
  <aside class="bg-base-100 w-80">
    <div
      class="bg-base-100 sticky top-0 z-20 hidden items-center gap-2 bg-opacity-90 px-4 py-2 backdrop-blur lg:flex shadow-sm"
    >
      <%= link_to Rails.configuration.application_name, root_path, class: "text-2xl font-bold" %>
    </div>
    <div class="h-4"></div>
    <ul class="menu menu-sm lg:menu-md px-4 py-0">
      <% if user_signed_in? %>
        <% [
          {title: 'Dashboard', url: root_path, icon: 'fa-solid fa-house'},
          {title: 'Announcements', url: announcements_path, icon: 'fa-solid fa-house'},
          {title: 'Notifications', url: notifications_path, icon: 'fa-solid fa-house'},
          ].each do |link| %>
          <%= render Nav::LinkComponent.new(title: link[:title], url: link[:url]) %>
        <% end %>
      <% else %>
        <% [
          {title: 'Login', url: new_user_session_path},
          {title: 'Sign Up', url: new_user_registration_path}, 
          ].each do |link| %>
          <%= render Nav::LinkComponent.new(title: link[:title], url: link[:url]) %>
        <% end %>
      <% end %>
    </ul>
    <div
      class="bg-base-100 pointer-events-none sticky bottom-0 flex h-40 [mask-image:linear-gradient(transparent,#000000)]"
    >
      <% if user_signed_in? %>
        <ul role="list" class="-mx-2 space-y-1">
          <%= render Nav::LinkComponent.new(title: "Settings", url: edit_user_registration_path) %>
          <li>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'w-full text-left font-medium cursor-pointer text-base-content-content group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold' %>
          </li>
          <div class="dropdown-divider"></div>
          <li>
            <span class="flex items-center text-base-content-content appearance-none space-x-4 font-semibold">
              <%= image_tag avatar_path(current_user, size: 40), class: "rounded-full h-8 w-8 ring-2 ring-transparent" %>
              <p>
                Hello, <%= current_user.first_name %>
              </p>
            </span>
          </li>
      <% end %>
    </div>
  </aside>
</div>

<div class="bg-base-100 drawer lg:drawer-open">
  <div class="flex grow flex-col gap-y-5 overflow-y-auto px-6">
    <div class="flex h-16 shrink-0 items-center">
      <%= link_to Rails.configuration.application_name, root_path, class: "text-2xl font-bold" %>
    </div>
    <nav class="flex flex-1 flex-col">
      <ul role="list" class="flex flex-1 flex-col gap-y-7">
        <li>
          <ul role="list" class="-mx-2 space-y-1">
            <% if user_signed_in? %>
              <% [
                {title: 'Dashboard', url: root_path, icon: 'fa-solid fa-house'},
                {title: 'Announcements', url: announcements_path, icon: 'fa-solid fa-house'},
                {title: 'Notifications', url: notifications_path, icon: 'fa-solid fa-house'},
                ].each do |link| %>
                <%= render Nav::LinkComponent.new(title: link[:title], url: link[:url]) %>
              <% end %>
            <% else %>
              <% [
                {title: 'Login', url: new_user_session_path},
                {title: 'Sign Up', url: new_user_registration_path}, 
                ].each do |link| %>
                <%= render Nav::LinkComponent.new(title: link[:title], url: link[:url]) %>
              <% end %>
            <% end %>
          </ul>
        </li>
        <% if user_signed_in? %>
          <li class="mx-4 mt-auto mb-4">
            <ul role="list" class="-mx-2 space-y-1">
              <%= render Nav::LinkComponent.new(title: "Settings", url: edit_user_registration_path) %>
              <li>
                <%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'w-full text-left font-medium cursor-pointer text-base-content-content group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold' %>
              </li>
              <div class="dropdown-divider"></div>
              <li>
                <span class="flex items-center text-base-content-content appearance-none space-x-4 font-semibold">
                  <%= image_tag avatar_path(current_user, size: 40), class: "rounded-full h-8 w-8 ring-2 ring-transparent" %>
                  <p>
                    Hello, <%= current_user.first_name %>
                  </p>
                </span>
              </li>
            </ul>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</div>