<% if current_user != true_user %>
  <div class="alert alert-warning text-center">
    You're logged in as <b><%= current_user.name %> (<%= current_user.email %>)</b>
    <%= link_to stop_impersonating_madmin_impersonates_path, method: :post do %><%= icon("fas", "times") %> Logout <% end %>
  </div>
<% end %>

<nav class="bg-white shadow">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 justify-between">
      <div class="flex flex-1 items-center justify-start">
        <%= link_to Rails.configuration.application_name, root_path, class: "" %>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <!-- Current: "border-primary-500 text-neutral-900", Default: "border-transparent text-neutral-500 hover:border-neutral-300 hover:text-neutral-700" -->
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0 space-x-4">
        <%= link_to "What's New", announcements_path, class: "nav-link #{unread_announcements(current_user)}" %>
        
        <% if user_signed_in? %>
          <button type="button" class="relative rounded-full bg-white p-1 text-neutral-400 hover:text-neutral-500 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">View notifications</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
            </svg>
          </button>
        <% end %>

        <!-- Profile dropdown -->
        <div class="relative flex rounded-full bg-white text-sm focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2">
          <% if user_signed_in? %>
            <div class="relative" data-controller="dropdown">
              <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" class="inline-block select-none" aria-label="Profile Menu">
                <span class="flex items-center text-neutral-700 dark:text-neutral-100 appearance-none">
                  <%= image_tag avatar_path(current_user, size: 40), class: "rounded-full h-8 w-8 ring-2 ring-transparent hover:ring-neutral-400 dark:hover:ring-neutral-100" %>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current w-4 h-4"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
                </span>
              </div>
              <div data-dropdown-target="menu"
                    data-transition-enter="transition ease-out duration-200"
                    data-transition-enter-from="opacity-0 translate-y-1"
                    data-transition-enter-to="opacity-100 translate-y-0"
                    data-transition-leave="transition ease-in duration-150"
                    data-transition-leave-from="opacity-100 translate-y-0"
                    data-transition-leave-to="opacity-0 translate-y-1"
                    class="z-20 hidden mt-2 lg:absolute lg:right-0">
                <div class="text-sm bg-white shadow-lg rounded border overflow-hidden absolute right-0 z-10 mt-2 w-48">
                  <%= link_to "Settings", edit_user_registration_path, class: 'text-neutral-800 bg-white hover:bg-primary-50 transition ease-in-out duration-200 whitespace-nowrap no-underline block px-6 py-3' %>
                  <%# if current_user.admin? && respond_to?(:madmin_root_path) %>
                  <% if respond_to?(:madmin_root_path) %>
                    <div class="dropdown-divider"></div>
                    <%= link_to "Admin Area", madmin_root_path, class: "text-neutral-800 bg-white hover:bg-primary-50 transition ease-in-out duration-200 whitespace-nowrap no-underline block px-6 py-3" %>
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'w-full text-left font-medium cursor-pointer px-6 py-3 border-t border-neutral-200  text-neutral-800 bg-white hover:bg-primary-50 transition ease-in-out duration-200 whitespace-nowrap' %>
                </div>
              </div>
            </div>
            <% else %>
              <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            <% end %>
      </div>
    </div>
  </div>
</nav>