<% name_attribute = attributes.find{ |a| a.name == "name" } %>
<% has_name = !!name_attribute %>

<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-base-content"><%= plural_table_name.humanize.titleize %></h1>
      <p class="mt-2 text-sm text-base-content/80">A list of all the <%= plural_table_name.humanize.downcase %>.</p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <%%= link_to new_<%= singular_route_name %>_path, class: 'btn btn-primary' do %>
        Add New <%= singular_route_name.humanize.titleize %>
      <%% end %>
    </div>
  </div>

  <div class="mt-8 mx-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle">
        <div class="table min-w-full divide-y divide-base-content/30">
          <div class="table-header-group bg-base-100">
            <div class="table-row ">
      <% if has_name %>
        <div class="table-cell py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-base-content sm:pl-6">
                Name
              </div>
        <% end %>
      <% attributes.without(name_attribute).each do |attribute| -%>
        <div class="table-cell px-3 py-3.5 text-left text-sm font-semibold text-base-content">
                <%= attribute.human_name %>
              </div>
      <% end -%>

              <div class="table-cell relative py-3.5 pl-3 pr-4 sm:pr-6 lg:pr-8"> 
                <span class="sr-only">Edit</span>
              </div>
            </div>
          </div>
          <div class="table-row-group bg-base-100">
            <%% @<%= plural_table_name%>.each do |<%= singular_table_name %>| %>
              <%%= content_tag :div, id: dom_id(<%= singular_table_name %>), class: "table-row bg-base-100 odd:bg-base-200/40 #{dom_class(<%= singular_table_name %>)}" do %>
        <% if has_name %>
        <div class="table-cell whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-base-content sm:pl-6">
                  <%%= link_to <%= singular_table_name %>.name, <%= singular_table_name %> %>
                </div>
        <% end %>
        <% attributes.without(name_attribute).each do |attribute| -%>
        <div class="table-cell whitespace-nowrap px-3 py-4 text-sm text-base-content/60">
                  <%%= <%= singular_table_name %>.<%= attribute.name %> %>
                </div>
        <% end -%>

                <div class="table-cell whitespace-nowrap px-3 py-4 text-sm text-base-content/60">
                <% unless has_name %>
                  <%%= link_to 'Show', <%= singular_table_name %>, class: 'link' %>
                <% end %>
                  <%%= link_to 'Edit', edit_<%= singular_route_name %>_path(<%= singular_route_name %>), class: 'link' %>
                </div>
              <%% end %>
            <%% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
