<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class='min-h-screen flex flex-col'>
    <main class='flex flex-col grow'> 
      <%= render 'shared/navbar' %>
      <%= render 'shared/notices' %>

      <div class="mt-4 mx-auto grow container max-w-7xl p-4">
        <%= yield %>
      </div>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
